.index-container {
    width: 100%;
    height: calc(100vh - 90px - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 90px;
}

.index-box {
    display: flex;
    width: 100%;
    min-width: 360px;
    height: calc((100vh - 90px) / 2);
    justify-content: space-evenly
}

.index-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: calc( 100% - (4 * 10px) );
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0 10px 20px;
    background-color: rgb(200, 40, 50, 0.7);
    text-decoration: none;
    border-radius: 5px;
}

.index-link:hover {
    background-color: rgb(200, 40, 50, 0.8);
    transform: scale(1.01);
}

.index-icon {
    height: 80px !important;
    width: 80px !important;
    color: rgb(255, 255, 255);
}

@media (width < 720px) {
    .index-box {
        flex-direction: column;
    }
    .index-link {
        width: calc( 100% - (2 * 10px) );
        height: 100%;
    }
}

@media (width > 1440px) {
    .index-container {
        flex-direction: row;
        align-items: stretch;
    }
    .index-box {
        height: calc(100vh - 90px);
    }
}