@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Roboto', sans-serif;
}

.index {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar{
  width: 0.6rem!important;
  background: #c9c9c9!important;
}
body::-webkit-scrollbar-thumb{
  background: rgb(108 0 0)!important;
  border-radius: 0.4rem!important;
}