@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-text:hover {
    font-weight: 800;
    color: #C82832;
    text-shadow: 0 0 10px white, 0 0 10px white, 0px 0px 10px white;
}

.shadow-box:hover {
    box-shadow: 0 0 5px rgb(25,25,25), 0 0 5px rgb(25,25,25), 0px 0px 5px rgb(25,25,25);
}

.onlyFit {
    object-fit: contain !important;
}

.fit {
    object-fit: contain;
    height: 40vh;
    width: 100%;
}

.fitColor, .fitStock {
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    text-align: center;
    width: 30vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(25,25,25);
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.linkColors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 30vw;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(25,25,25);
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.linkTypes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 45%;
    height: 90%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(25,25,25);
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.linkStocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(25,25,25);
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url('../media/textura.jpg');
    background-size: cover;
    background-position: center;
}

.new-form {
    width: 75%;
    min-width: 280px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.new-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #C82832;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 0 solid;
}

.inputLabel {
    margin: 5px;
    margin-left: 0;
    height: 40px;
    width: 40px;
}

.inputForm {
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
    margin-right: 0;
    border: 1px solid #C82832;
    height: 40px;
    background-color: white;
    border-radius: 5px;
}

.buttonForm {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: 0 solid;
    border-radius: 5px;
    color: white;
    background-color: #C82832;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: 'center'
}



/* 
.bgIndex {
    background-image: url('../media/searchingJob.svg')
}

.bgCompany, .bgSignUp {
    background-image: url('../media/working3.svg')
}

.bgDetailCompany {
    background-image: url('../media/coworking.svg')
}

.bgJob , .bgUser, .bgSignIn {
    background-image: url('../media/working1.svg')
}

.bgDetailJob, .bgDetailUser {
    background-image: url('../media/mirror.svg')
}

.bgVariant {
    background-image: url('../media/interview.svg')
}

.backGroundStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.newForm {
    width: 75%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.inputForm {
    flex-grow: 1;
    margin: 5px;
    padding: 2px;
    height: 30px;
    background-color: rgb(224,224,224)
}

.buttonForm {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: 0 solid;
    background-color: #6b189a;
    color: rgb(224,224,224);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: 'center'
}

.list {
    width: 280px;
    height: 240px;
    object-fit: contain;
    background-color: white;
    padding: 5px;
}

.selectList {
    margin: 5px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    background-color: rgb(224,224,224)
} */