.accCheck-container {
    width: 110px;
    height: 110px;
    margin: 5px;
}

.accCheck-input {
    height: 0;
    width: 0;
    position: absolute;
}

.accCheck-label {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    bottom: 114px;
    z-index: 1;
}

.accCheck-label:hover {
    background-color: rgba(118, 118, 118, 0.3);
}

.il-true {
    background-color: rgba(118, 118, 118, 0.3);
    font-size: 14px;
    font-weight: 600;
}

.accCheck-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 5px;
}

.hide-true, .modal-false {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}